:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  --orange-color: #ff693d;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: var(--primary-color);
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-gap: var(--spacing);
  grid-template-areas:
    "header content"
    "alumni footer";
  height: 93vh;
  padding: 30px;
  margin-left: 15%;
  margin-right: 15%;
}

header {
  grid-area: header;
  background-color: var(--blue-color);
  color: var(--primary-color);
  padding: var(--spacing);
  height: 566px;
  width: 410px;
}

p {
  text-align: justify;
}

.content-container {
  grid-area: content;
  display: grid;
  grid-gap: var(--spacing);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "school student"
    "main time";
}

.school,
.student,
.main,
.alumni,
.time {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.school {
  grid-area: school;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}

.student {
  grid-area: student;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

main {
  font-weight: bold;
  grid-area: main;
  background: transparent;
  text-align: center;
  color: var(--blue-color);
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  grid-area: time;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  grid-area: alumni;
  margin-right: var(--spacing);
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

footer {
  grid-area: footer;
  background-color: var(--orange-color);
  color: var(--primary-color);
  padding: var(--spacing);
}

button {
  padding: 20px 50px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  header {
    width: auto;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  .content-container {
    display: flex;
    flex-direction: column;
  }

  .school,
  .student,
  .main,
  .alumni,
  .time {
    object-fit: contain;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  main {
    padding: 50px;
  }
}
